 .loginForm{
    display: flex;
    justify-content: center;
   align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: clamp(18.75rem, 16.993vw + 14.608rem, 35rem);
    margin: 0 auto 0 auto;
    &__text{
      text-align: center;
      font-family: 'PoppinsSemiBold', serif;
      font-size: 36px;
      margin: 20px;
    }
    &__form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      input{
        border:none;
        border-radius: 10px;
        padding: 9px 20px;
        background-color: rgba(86, 198, 150, 1);
        font-family: 'PoppinsRegular', serif;
        font-size: 24px;
        margin-bottom: 24px;
        width: clamp(15.625rem, 13.158vw + 12.336rem, 28.125rem);
        &::placeholder{
          color: rgba(255, 255, 255, 0.5);
        }
        &:focus {
          border: 3px solid #129a12;
          border-radius: 10px;
        }
      }
      button{
        font-family: 'PoppinsSemiBold', serif;
        color: white;
        font-size: 24px;
        border-radius: 10px;
        background: #7BE495;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: none;
        width: clamp(15.625rem, 13.158vw + 12.336rem, 28.125rem);
        padding: 9px 0;
        margin-bottom: 40px;
        cursor: pointer;
        transition: .1s all ease-in-out;
        &:active{
          background-color: #2cc053;
        }
      }
    }
  }
