.professors {
  display: flex;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}