.checkList {
    display: flex;
    justify-content: center;
    margin-top: clamp(0.813rem, 2.857vw - 1.241rem, 2.188rem);
    width: 100%;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}