[class^='block__wrapper-'], [class^='block-'] {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.75);
}

[class^='block__wrapper-'], [class^='block-'], [class^='block__inner-'], [class^='block__inner__inner-'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class^='block__inner-'] {
  background-color: rgba(123, 228, 149, 1);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);;
}

[class^='block__inner__inner-'] {
  border-radius: 15px;
  background-color: rgba(86, 198, 150, 0.3);
  -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.75);
}

[class^='block__inner__inner__text-'] {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'PoppinsSemiBold', serif;
  font-size: clamp(1.188rem, 1.883vw + 0.74rem, 3rem);
  color: white;
  text-transform: uppercase;
}

//------------------------------ JOURNAL ------------------------------//

.block-journal {
  opacity: 0.8;
  background: linear-gradient(135deg, #AAE5B955 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(225deg, #AAE5B9 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(315deg, #AAE5B955 25%, transparent 25%) 0px 0/ 38px 38px, linear-gradient(45deg, #AAE5B9 25%, #ffffff 25%) 0px 0/ 38px 38px;
}

.block__wrapper-journal, .block-journal {
  width: clamp(6.938rem, 10.065vw + 4.547rem, 16.625rem);
  height: clamp(30.375rem, 29.156vw + 23.45rem, 58.438rem);
}

.block__inner-journal {
  height: clamp(19.688rem, 21.039vw + 14.691rem, 39.938rem);
  width: clamp(4.813rem, 5.909vw + 3.409rem, 10.5rem);
}

.block__inner__inner-journal {
  height: clamp(16.813rem, 19.935vw + 12.078rem, 36rem);
  width: clamp(3.75rem, 2.597vw + 3.133rem, 6.25rem);

  .block__inner__inner__text-journal {
    font-size: clamp(1.75rem, 1.299vw + 1.442rem, 3rem);

    &::before {
      content: "J" "\A" "O" "\A" "U" "\A" "R" "\A" "N" "\A" "A" "\A" "L";
      white-space: pre;
    }
  }
}

//------------------------------ PROFESSORS ------------------------------//

.block-professors {
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 25px), repeating-linear-gradient(#AAE5B955, #AAE5B9);
}

.block__wrapper-professors, .block-professors {
  justify-content: flex-end;
  height: clamp(14.5rem, 25.195vw + 8.516rem, 38.75rem);
  width: clamp(14.313rem, 24.935vw + 8.39rem, 38.313rem);
}

.block__inner-professors {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: clamp(2.188rem, 7.597vw + 0.383rem, 9.5rem);
  width: clamp(14.313rem, 24.935vw + 8.39rem, 38.313rem);
  -webkit-box-shadow: 0 -8px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 -8px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 -8px 15px 4px rgba(0, 0, 0, 0.75);
}

.block__inner__inner-professors {
  width: clamp(8.625rem, 22.403vw + 3.304rem, 30.188rem);
  height: clamp(1.25rem, 6.169vw - 0.215rem, 7.188rem);
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
}


.block-schedules {
  opacity: 0.8;
  background-image: linear-gradient(45deg, #AAE5B9 50%, #ffffff 50%);
  background-size: 11px 11px;
}

.block__wrapper-schedules, .block-schedules {
  justify-content: flex-start;
  height: clamp(14.5rem, 25.195vw + 8.516rem, 38.75rem);
  width: clamp(14.375rem, 26.494vw + 8.083rem, 39.875rem);
}

.block__inner-schedules {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: clamp(2.188rem, 7.597vw + 0.383rem, 9.5rem);
  width: clamp(14.375rem, 26.494vw + 8.083rem, 39.875rem);
  -webkit-box-shadow: 0 8px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 8px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 15px 4px rgba(0, 0, 0, 0.75);
}

.block__inner__inner-schedules {
  width: clamp(8.625rem, 22.403vw + 3.304rem, 30.188rem);
  height: clamp(1.25rem, 6.169vw - 0.215rem, 7.188rem);
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.75);
}