.journal {
  justify-content: center;
  align-items: center;
  width: clamp(20.938rem, 80vw + 1.938rem, 97.938rem);
  height: clamp(40.938rem, 12.792vw + 37.899rem, 53.25rem);

  background: rgba(217, 217, 217, 0.3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 0 clamp(0.5rem, 1.104vw + 0.238rem, 1.563rem);

  &__button__div {
    margin: {
      top: clamp(0.625rem, 0.935vw + 0.129rem, 1.25rem);
    };
  }
}
