* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: rgba(50, 157, 156, 1);
    color: white;
}

#wrapper {
    display: flex;
    @media only screen and (max-width: 950px) {
        &{
            display: block;
            flex-direction: column;
            height: 80vh;
        }
    }
}